img {
  margin: 1em;
  max-height: 20em;
}

code[class*=language-] {
  font-family: monospace;
}

.token.operator {
  background: unset
}

blockquote {
  border-left: 2px solid #956747;
  margin: 0;
  padding: 0.5rem 2rem;
  background-color: rgba(208, 200, 192, 0.25)
}

table {
  border-collapse: collapse;
  border: 2px solid black;
}

thead {
  border-bottom: 2px solid gray;
  background-color: lightgray;
}

tbody {
  & tr:hover {
    background-color: #ececec;
  }
}

tr {
  border-bottom: 1px solid gray;
}

th, td {
  border-right: 1px solid gray;
  padding: 0.5em;
}
