body {
  font-family: sans-serif;
  color: black;
  margin: 0px;
}

body#with-sidebar {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

main {
  width: 100%;
  max-width: 50em;
  margin-left: 2em;
  margin-right: 2em;
}

#index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}

#new-wiki-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.wiki-list {
  display: flex;
  flex-flow: row;
  & li {
    border: 2px solid gray;
    border-radius: 16px;
    margin: 0.5rem;
    font-size: large;
    background-color: white;;
    & a {
      color: inherit;
      display: flex;
      padding: 1rem;
      align-items: center;
      .access-icon {
        margin-right: 0.5rem;
      }
    }
    & a:hover {
      color:#3366cc;
    }
  }
}

a {
  color: #3366cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav.sidebar {
  margin: 1em;
}

a#wiki-title {
  margin: auto;
  color: black;
  font-size: 20pt;
  font-family: serif;
  text-align: center;
  display: block;
}

a#wiki-title:hover {
  text-decoration: none;
}

div#global-menu {
  background: #e8e8e8;
  border-radius: 8px;
  padding: 1em;
  margin-top: 1em;
  & * {
    display: block;
  }
  & *:not(:last-child) {
    margin-bottom: 1em;
  }
}

article {
  line-height: 1.6;
}

#page-title {
  max-width: 30rem;
  margin: 0.5rem 0 0.5rem 0;
}

#version-banner {
  background-color: #fef6e7;
  border: solid 0.5px;
  border-color: #ac6600;
  padding: 0.5em;
}

nav.page, nav#wiki-controls {
  padding: 0.5em 0;
  display: block;
  border-bottom: 2px solid;
  & * {
    margin-right: 2em;
  }
  & *:last-child {
    margin-right: 0;
  }
}

form {
  display: unset;
  margin-block-end: unset;
}

footer {
  margin-top: 1rem;
  border-top: 2px solid;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  & * {
    display: flex
  }
}

.note {
  opacity: 50%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
}

div.access-icon {
  width: 1em;
  display: inline-block;
}

div.search-icon {
  width: 1em;
  display: inline-block;
}

ul.wiki-list {
  list-style-type: none;
  padding: 0;
}

button {
  border: solid 1px;
  border-radius: 8px;
  cursor: pointer;
  font-size: unset;
  padding: 4px 6px;
  margin-right: 0.5em;
}

select {
  font-size: unset;
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  background-color: lightgray;
}

button:last-child {
  margin-right: 0;
}

button.submit {
  color: white;
  background-color: #36c;
  border-color: #36c;
}

button.submit:hover {
  background-color: #37e;
  border-color: #37e;
}

button.submit:disabled {
  background-color: gray;
}

button.delete:hover {
  color: white;
  background-color: darkred;
  border-color: darkred;
}

fieldset {
  margin-bottom: 1em;
}

.column-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & .box-item {
    margin: 0 0 0.5em 0;
  }
}

div.file-upload {
  border: 1px solid;
  padding: 1em;
}

#search {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  & input {
    font-size: unset;
    min-width: 15em;
  }
}

#search-results-container {
  position: absolute;
  top: 2rem;
}

ul#search-results {
  margin: 0;
  margin-top: 2px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  list-style-type: none;
  padding: unset;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

li.search-result {
  display: grid;
  min-width: 15em;
  & * {
    color: unset;
    margin: 0;
    padding: 0.25em 0.5em;
  }
}

li.search-result:hover {
  background-color: lightgray;
}

div.CodeMirror {
  border: 1px solid gray;
  max-width: 60em;
}

code:not(code[class*=language-]) {
  background-color: rgba(130, 130, 130, 20%);
  border-radius: 4px;
  padding: 2px;
  border: solid 1px rgb(130, 130, 130, 30%);
}
