body {
  font-family: sans-serif;
  color: black;
  margin: 0px;
}

.loading {
  visibility: hidden;
}

.loader {
  margin-left: 2rem;
}

.fade-in {
  opacity: 0%;
}

.fading-in {
  opacity: 100%;
  transition: opacity 0.5s ease-in 0.5s;
}

body#with-sidebar {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

main {
  width: 100%;
  max-width: 50em;
  margin-left: 1em;
  margin-right: 1em;
}

#index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  background-color: lightgray;
}

#new-wiki-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.wiki-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  & li {
    border: 2px solid gray;
    border-radius: 16px;
    margin: 0.5rem;
    font-size: large;
    background-color: white;
    & a {
      color: inherit;
      display: flex;
      padding: 0.5rem 1rem;
      align-items: center;
      .access-icon {
        margin-right: 0.25rem;
      }
    }
    & a:hover {
      color:#3366cc;
    }
  }
}

a {
  color: #3366cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#global-menu {
  background-color: #e8e8e8;
  border-radius: 8px;
  padding: 1em;
  & * {
    display: block;
  }
  & *:not(:last-child) {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }

  #global-menu {
    background-color: unset;
  }
}

#topbar {
  margin-top: 0.5em;
  border-bottom: solid 2px;
  padding-bottom: 0.5em;
}

#topbar-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dialog {
  border: solid 2px;
  border-radius: 8px;
  padding: 0;
  font-size: large;
  box-shadow: 5px 5px 15px #00000025
}

@media only screen and (min-width: 601px) {
  .sidebar-collapse-button {
    visibility: hidden;
  }

  a#top-title {
    display: none;
  }
}

nav.sidebar {
  margin: 1em;
  max-width: 8em;
}

div#logo-container {
  height: 8em;
  width: fit-content;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.logo-small {
  height: 2em;
  width: fit-content;
  display: inline-block;
}

#logo {
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  border-radius: 8px;
}

a.wiki-title {
  margin: auto;
  color: inherit;
  font-size: 20pt;
  font-family: serif;
  text-align: center;
  display: block;
  margin-bottom: 0.5em;
}

a.wiki-title:hover {
  text-decoration: none;
}

#top-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chapter-list-item-label {
  font-family: monospace;
  font-style: italic;
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}

.note {
  opacity: 50%;
  font-size: .75rem;
}

.collapsed {
  max-height: 0;
  overflow-y: hidden;
}

.expanded {
  max-height: fit-content;
  overflow-y: hidden;
}

article {
  line-height: 1.6;
}

#page-title {
  max-width: 30rem;
  margin: 0.5rem 0 0.5rem 0;
}

#version-banner {
  background-color: #fef6e7;
  border: solid 0.5px;
  border-color: #ac6600;
  padding: 0.5em;
}

nav.page, nav#wiki-controls {
  padding: 0.5em 0;
  display: block;
  border-bottom: 2px solid;
  & * {
    margin-right: 2em;
  }
  & *:last-child {
    margin-right: 0;
  }
}

nav#main-controls {
  padding: 0.5em 0;
  display: block;
  & * {
    margin-right: 1em;
  }
  & *:last-child {
    margin-right: 0;
  }
}

form {
  display: unset;
  margin-block-end: unset;
}

footer {
  margin-top: 1rem;
  border-top: 2px solid;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  & .footer-item {
    display: flex;
    align-items: center;
    text-align: center;
  }
  & .footer-item:not(:last-child) {
    margin-right: 10px;
  }
}

.note {
  opacity: 50%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
}

div.access-icon {
  min-width: 1em;
  width: 1em;
  display: inline-block;
  font-size: medium;
}

div.menu-icon {
  width: 1.5em;
  display: inline-block;
}

div.search-icon {
  width: 1em;
  display: inline-block;
}

.index-header {
  margin-bottom: 0;
}

li.wiki-list-item {
  & a.remote, a.local {
    flex-direction: column;
    & .wiki-host {
      margin-top: 0.5em;
      font-size: small;
      opacity: 50%;
      color: unset;
      text-decoration: none;
    }
  }
}

button {
  border: solid 1px;
  border-radius: 8px;
  cursor: pointer;
  font-size: unset;
  padding: 4px 6px;
  margin-right: 0.5em;
}

select {
  font-size: unset;
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  background-color: lightgray;
}

button:last-child {
  margin-right: 0;
}

button.submit {
  color: white;
  background-color: #36c;
  border-color: #36c;
}

button.submit:hover {
  background-color: #37e;
  border-color: #37e;
}

button.submit:disabled {
  background-color: gray;
}

button.delete:hover {
  color: white;
  background-color: darkred;
  border-color: darkred;
}

fieldset {
  margin-bottom: 1em;
}

.column-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & .box-item {
    margin: 0 0 0.5em 0;
  }
}

div.file-upload {
  border: 1px solid;
  padding: 1em;
}

#search {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  & input {
    font-size: unset;
    min-width: 15em;
  }
}

#search-results-container {
  position: absolute;
  top: 2.5rem;
}

#search-all-results-container {
  top: 2rem;
}

ul#search-results {
  margin: 0;
  margin-top: 2px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  list-style-type: none;
  padding: unset;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

li.search-result {
  display: grid;
  min-width: 15em;
  & * {
    color: unset;
    margin: 0;
    padding: 0.25em 0.5em;
    display: flex;
    flex-direction: column;
    & .search-result-book-title {
      font-size: small;
      opacity: 75%;
      flex-direction: row;
      padding: 0;
      justify-content: space-between;
    }
  }
}


li.search-result:hover {
  background-color: lightgray;
}

#search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  background-color: lightgray;
  & .back {
    margin: 1em;
    position: absolute;
    left: 0;
  }
}

div.CodeMirror {
  border: 1px solid gray;
  max-width: 60em;
}

code:not(code[class*=language-]) {
  background-color: rgba(130, 130, 130, 20%);
  border-radius: 4px;
  padding: 2px;
  border: solid 1px rgb(130, 130, 130, 30%);
}
