body {
  font-family: sans-serif;
  color: black;
}

/* nav.global {
  color: inherit;
} */

main {
  max-width: 50em;
  margin-left: 2em;
  margin-right: 2em;
}

a {
  color: #3366cc;
  text-decoration: inherit;
}

article {
  line-height: 1.6;
}

#version-banner {
  background-color: #fef6e7;
  border: solid 0.5px;
  border-color: #ac6600;
  padding: 0.5em;
}

nav, footer {
  padding: 0.5em 0;
  & * {
    margin-right: 1em;
  }
  & *:last-child {
    margin-right: 0;
  }
}

nav.page {
  display: block;
  border-bottom: 2px solid;
}

form {
  display: unset;
}

footer {
  border-top: 2px solid;
  padding: 0.5em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
}

div.access-icon {
  width: 1em;
  display: inline-block;
}

ul.wiki-list {
  list-style-type: none;
  padding: 0;
}

button {
  border: solid 1px;
  cursor: pointer;
  font-size: unset;
  padding: 4px 6px;
  margin-right: 0.5em;
}

button:hover {
  background-color: lightgray;
}

button:last-child {
  margin-right: 0;
}

button.submit {
  color: white;
  background-color: #36c;
  border-color: #36c;
}

button.submit:hover {
  background-color: #37e;
  border-color: #37e;
}

button.delete:hover {
  color: white;
  background-color: darkred;
  border-color: darkred;
}

div.CodeMirror {
  border: 1px solid gray;
  max-width: 60em;
}